.content{
  position : absolute;
  top : 50px;
  left : 50px;
  background-color: white;
  display : flex;
  flex-direction : column;
  padding : 10px;
  margin-top : 50px;
}

.content div{
  width : 850px;
  margin-bottom : 100px;
  padding : 50px 15px;
  text-align : left;
}

.content p{font-size : 22px;}
.content h4{font-size : 24px;}
.content h3{font-size : 26px;}
.content h2{font-size : 28px;}
.content h1{font-size : 30px;}
.content ul{font-size : 22px;}

/*성경*/
#image_bible {width : 500px; top : 570px; left : 500px;}

/*사전*/
#image_dictionnaire {width : 400px; top : 80px; left : 200px;}

/*한복*/
#image_korean03 {width : 600px; top : 1250px;left : 100px;}

/*손*/
#image_hands {width :1150px; top : 450px; left: 150px;}

/*세종대왕*/
#image_korean04 {width : 300px; top : 250px; left : 30px;}

/*회의장면*/
#image_academie02{width : 450px; top : 1300px; left : 750px;}

/*국립원*/
#image_korean01{width : 460px; top : 150px;left : 650px;}

/*역사자료*/
#image_academie01{width : 280px; top : 480px; left : 50px;}

/*건물*/
#image_academie03{width : 550px; top : 1000px; left : 350px;}

/*언해본*/
#image_korean02{width : 300px; top : 850px; left : 0;}


.circle{
  width : 160px;
  height : 160px;
  background : white;
  border-radius : 50%;
  position : absolute;
  animation : anim 30s linear infinite;
  text-align : center;
  font-size : 25px;
  border : black solid 1px;
}

.circle:nth-child(2){animation-delay : -5s;}
.circle:nth-child(3){animation-delay : -10s;}
.circle:nth-child(4){animation-delay : -15s;}
.circle:nth-child(5){animation-delay : -20s;}
.circle:nth-child(6){animation-delay : -25s;}

@keyframes anim{
  0% {
    top : 450px;
    left : 0px;
    transform : rotate(0);
  }
  50%{
    top : 450px;
    left : 900px;
    transform : rotate(360deg);
    }
  50.01%{
    top : 450px;
    left : 900px;
    transform : rotate(0);
  }
  100%{
    top : 450px;
    left : 0px;
    transform : rotate(-360deg);
  }
}
