@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {font-family:'Open Sans', sans-serif;
line-height : 1.5;
outline : none;}

h1{font-size : 25px;}
h2{font-size : 22px;}
h3{font-size : 20px;}
h4{font-size : 18px;}
p{font-size : 15px;}

/*index*/

.main_container{
  background-color : white;
  position: absolute;
  top : 0;
  right: 0;
  bottom : 0;
  left : 0;
  display : flex;
  flex-direction : column;
  justify-content: center;
   align-items : center;
   text-align : center;
}

.button1{
  border-radius : 25px;
  background-color : white;
  border : black solid 1px;
  padding : 10px 50px;
  font-size : 15px;
  margin-top : 50px;
}

.sub_contain{display: inline-flex;}

.content{
  background-color: white;
  display : flex;
  flex-direction : column;
  padding : 10px;
}

.intro {
  position : absolute;
  top : 150px;
  left : 50px;
}

.intro_img_container{
  position : absolute;
  top : 0px;
  left : 0px;
}

.intro_img{position : absolute;}

.intro_img img{
  width : 100%;
  height : auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
}

.intro_img:hover .overlay {
  opacity: 0.5;
}

.description {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.circle{
  width : 120px;
  height : 120px;
  background : white;
  border-radius : 50%;
  position : absolute;
  animation : anim 30s linear infinite;
  text-align : center;
  border : black solid 1px;
}

.circle:nth-child(2){animation-delay : -5s;}
.circle:nth-child(3){animation-delay : -10s;}
.circle:nth-child(4){animation-delay : -15s;}
.circle:nth-child(5){animation-delay : -20s;}
.circle:nth-child(6){animation-delay : -25s;}

@keyframes anim{
  0% {
    top : 200px;
    left : 0px;
    transform : rotate(0);
  }
  50%{
    top : 200px;
    left : 800px;
    transform : rotate(360deg);
    }
  50.01%{
    top : 200px;
    left : 800px;
    transform : rotate(0);
  }
  100%{
    top : 200px;
    left : 0px;
    transform : rotate(-360deg);
  }
}

.heading{
  float : left;
  position : fixed;
  top : 20px;
  left : 20px;
}

.heading img {width : 200px;}

.nav{
  display : flex;
  position : fixed;
  top : 30px;
}

.nav a{ text-decoration : none; color : black;}
.nav a:hover{color : black;}
.nav-item{padding : 0 20px;}

.KT{font-size: 15px;}

#chapter0{display : block;}
#chapter1{display : none;}
#chapter2{display : none;}
#chapter3{display : none;}
#chapter4{display : none;}
#chapter5{display : none;}
#chapter6{display : none;}

#chapters{
  border : black solid 2px;
  border-radius : 12.5px;
  background-color : white;
  width : 25px;
  height : 25px;
  margin-right : 2px;
  outline : none;
}

#chapters:hover {
  background-color: black; /* Green */
  color: white;
cursor: pointer;}

#chapters:focus{background-color:black;
color : white;}
