
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

h1{font-size : 25px;}
h2{font-size : 22px;}
h3{font-size : 20px;}
h4{font-size : 18px;}
p{font-size : 15px;}

html{
/*  background-color : black; */
}
body {font-family:'Open Sans', sans-serif;

line-height : 1.5;
background-color : white;
width : 830px;
height : 900px;
}


.intro {
  position : absolute;
  width : 200px;
  height : 400px;
  top : 200px;
  left : 150px;
}


.circle{
  width : 100px;
  height : 100px;
  background : white;
  border-radius : 50%;
  position : absolute;
  animation : anim 18s linear infinite;
  text-align : center;
  border : black solid 1px;
}

.circle:nth-child(2){animation-delay : -3s;}
.circle:nth-child(3){animation-delay : -6s;}
.circle:nth-child(4){animation-delay : -9s;}
.circle:nth-child(5){animation-delay : -12s;}
.circle:nth-child(6){animation-delay : -15s;}

@keyframes anim{
  0% {
    top : 200px;
    left : 0px;
    transform : rotate(0);
  }
  25%{
    top : 100px;
  }
  50%{
    top : 200px;
    left : 600px;
    transform : rotate(360deg);
    }
  50.01%{
    top : 200px;
    left : 600px;
    transform : rotate(0);
  }
  75%{
    top : 300px;
  }
  100%{
    top : 200px;
    left : 0px;
    transform : rotate(-360deg);
  }
}

.heading{
  display : block;
  text-align : center;
}

.heading img {
  width : 800px;
  padding : 15px;
}


.nav{
  float : left;
  margin-right : 10px;
  background-color : white;
}

.nav-item{
  display : flex;
  width : 100px;
  height : 20px;
  padding : 10px;
}

.nav a{
  text-decoration : none;
  color : black;
}

.nav a:hover{
  color : black;
}

.KT{
  font-size: 15px;
  margin-bottom : 5px;
}

.ET{
  font-size: 10px;
  padding-left : 5px;
}


.content{
  display : inline-block;
  background-color : white;
  width : 700px;
}

.subcategory{
  display : flex;
  list-style : none;
  font-size : 12px;
  float : right;
}

.subcategory li{
  padding : 5px 7px;
  border : solid black 1px;
  background-color : black ;
  color : white;
  border-radius : 100%;
  text-align : center;
  margin : 5px;
}

.subcategory a{
  text-decoration : none;
  color : white;
}
