.heading{
  display : block;
  text-align : right;
}

.heading img {
  width : 400px;
}


#grid {
  display : grid;
  grid-template-columns : 100px 700px;
}


.nav{
  float : left;
  display : inline-flex;
  flex-direction : column;
  background : black;
  text-align : center;
  color : white;
  height : 360px;
}

.nav-item{
  width : 100px;
  height : 40px;
  padding : 10px 0 10px 0;
}

.nav a{
  text-decoration : none;
  color : white;
}

.nav a:hover{
  color : white;
  background-color : gray;
}

.KT{
  font-size: 15px;
  margin-bottom : 5px;
}

.ET{
  font-size: 5px;
}

.content{
  padding-left : 20px
}

/* https://heropy.blog/2018/11/24/css-flexible-box/ */
